* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333;
    margin: 50PX;
}

.container-resultado {
    display: flex;
    justify-content: center;
}

h1 {
    color: aliceblue;
}

#contador {
    /* color: azure; */
    font-size: 80px;
}

.advinhar {
    margin: 30px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

.n1En2 {
    display: flex;
    justify-content: center;
}

#n1 {
    font-size: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 250px;
    height: 250px;
    margin-right: 5px;
}

#n2 {
    border: none;
    font-size: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 250px;
    height: 250px;
}

#btnVereficar {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
}

.rTrue {
    color: #4DBB3E;
}

.rFalse {
    color: red;
}

.content-contador{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-contador{
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 15px;
}

.corretos{
    color: #4DBB3E;
    font-size: 25px;
}

@keyframes animationContador{
    0%{font-size: 25px}
    50%{font-size: 35px}
    100%{font-size: 25px}
}
.animationContador{
    animation: animationContador linear 0.44s;
}

.timer{
    color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 25px;
}

.timer p {
    border-bottom: 2px solid yellow;
    transition: 1s;
}