body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;

}
#VisorCep{
    opacity: 0.5;
}
input{
    padding: 0px 0px;
    font-size: 24px;
    text-align: center;
    width: 392px;    
 }
 .preecherAuto, #VisorCep{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 392px;
     /* margin-top: 5px; */
 }
p{
    color: white;
    margin: 10px;
}

table, th, td{
    margin-top: 20px;
    color: aliceblue;
    padding: 14px;
    border: 1px solid #fff;
    text-align: center;
}